<h2>Please Sign Up To Continue:</h2>
<br>
<%= form_for @user, url: new_user_path, method: :post do |f| %>
<%= f.label "Name:" %>
<%= f.text_field :name %>
<br>
<%= f.label "E-mail:" %>
<%= f.text_field :email %>
<br>
<%= f.label "Password:" %>
<%= f.password_field :password, required: true %>
<br>
<%= f.label "Confirm Password:" %>
<%= f.password_field :password_confirmation, required: true %>
<br>
<br>
<%= f.submit "Submit" %>
 <% end %>
