<h1><b>So you got a new pet...</b></h1>
<h3><i>Tell us more!</i></h3><br>
<%= form_for [current_user, @animal] do |animal| %>
<%= form_errors_for @animal %>
  <% animal_types = ['cat', 'dog', 'other'] %>
  <% animal_types.each do |species| %>
    <%= animal.label species %>
    <%= animal.check_box :species, {multiple: true}, species %>
  <% end %>
  <br>
  <%= animal.label "name" %>:
  <%= animal.text_field :name %><br />
  <%= animal.label "Breed/Species" %>:
  <%= animal.text_field :breed %><br />
  <%= animal.label "age" %>:
  <%= animal.number_field :age %> years<br />
    <%= animal.label "weight" %>:
  <%= animal.text_field :weight %> lbs<br />
  <%= animal.label "description" %>:
  <%= animal.text_field :description %><br />
  <br>
  <%= animal.submit "Create New Animal" %>
<% end %>
