<h1><b><%= @animal.name %></b>...<i>the <%= @animal.breed %></i>!</h1>
<br>
<h3>Some fun facts about <%= @animal.name %>:</h3>
<%= @animal.description %><br>
<%= @animal.weight %>
<br>
<br>
Go <%= link_to "back", user_animals_path(current_user) %>
